---

---

<nav class="header-links">
    <a href="/" class="nav-link">Home</a>
    <a href="/projects" class="nav-link">Projects</a>
    <!-- <a href="/blog" class="nav-link">Blog</a> -->
    <!-- <a href="/contact" class="nav-link">Contact</a> -->
</nav>

<style>
    .header-links {
        display: flex;
        justify-content: flex-end;
        background-color: var(--dark-gray);
        width: 100%;
    }

    .nav-link:first-child {
        margin-right: auto;
    }

    .nav-link {
        padding: 10px;
        text-decoration: none;
        color: var(--white);
        font-family: sans-serif
    }

    .nav-link:hover {
        right: 5px;
        color: var(--green)
    }
</style>